<header class="text-center bg-slate-300 w-full">
    <img src="{{headerfooter.logo}}" alt="Texas Infomedia Logo">
    <nav class="">
        {% for page in collections.contentpages %}
            <a href="{{page.data.page.url}}" class="">
            {{page.data.title}}
            </a>
        {% endfor %}
    </nav>
    <div class=""> <a class="" href="/contact">Start Your Project</a> </div>
    <div class=""> <a class="" href="tel://{{contactinfo.phone}}"> {{contactinfo.phone}}</a> </div>
</header>