{# A hero banner for the front page featuring a rotating set of images, 
    each with their own text.

    Accepts as its arg an array of banner objects with the shape...
    {
        image: string/url/to.img
        statement: "String to display over image."
    }
 #}
{% macro rotatingBanner(bannersArray) %}
    <div 
        class="h-60 relative overflow-hidden not-prose" 
        x-data="{currentslide:1}"
        x-init="$interval(()=>currentslide == {{bannersArray.length}} ? currentslide=1 : currentslide+=1,5000 )"
    >
        {% for banner in bannersArray %}
            <div {%oneline-%}
                x-show="currentslide=={{loop.index}}"
                x-transition:enter="transition-[left] ease-in-out duration-1000"
                x-transition:enter-start="left-[100%]"
                x-transition:enter-end="left-[0%]"
                x-transition:leave="transition-[left] ease-in-out duration-1000"
                x-transition:leave-start="left-[0%]"
                x-transition:leave-end="left-[-100%]"
                class="
                    absolute 
                    bg-cover h-full w-full
                    flex items-center
                " 
            >{%-endoneline%}
                {%oneline-%}
                <img
                    class="w-full h-full object-cover absolute right-0 left-0 top-0 bottom-0 filter-bannerimg" 
                    src="{{banner.image}}" 
                    alt=""
                {%-endoneline%}>
                <div class="text-white pl-10 text-5xl z-10">
                    {{banner.statement}}
                </div>
            </div>
        {% endfor %}
    </div>
{% endmacro %}

{#
    Macro: headingBanner
    Description: Renders a banner with a heading and background image. The height of the banner is determined by the heading level.
    Parameters:
        - headinglevel (string): The level of the heading (e.g., 'h1', 'h2', etc.). Determines the height of the banner.
        - heading (string): The text content of the heading.
        - image (string): The URL of the background image for the banner.
    Usage:
        {{ headingBanner('h1', 'Welcome to Our Site', '/path/to/image.jpg') }}
#}
{% macro headingBanner(headinglevel, heading, image) %}
    {% set heightClass = {
        'h1': 'h-36',
        'h2': 'h-32',
        'h3': 'h-24',
        'h4': 'h-16',
        'h5': 'h-12',
        'h6': 'h-8'
    } %}
    <div {%oneline-%}
        class="
            {{ heightClass[headinglevel] or 'h-12'}}
            p-4 flex items-end relative mt-6 mb-4
            not-prose
        "
    >{%-endoneline%}
        <img {%oneline%}
            class="w-full h-full object-cover absolute top-0 left-0 filter-bannerimg "
            src="{{image}}"
        />{%-endoneline%}
        <{{headinglevel}} class="w-full text-white font-bold z-10 drop-shadow-xl shadow-txinfomedia-bg-headings">
        {%-oneline-%}
            {{heading}}
        {%-endoneline-%}
        </{{headinglevel}}>
    </div>
{% endmacro %}
