{# A card featuring a headline, text blurb, and image/icon in a horozontal layout

    args
    - headline: string, headline to appear at top of card
    - blurb: string, longer text to appear on the card body
    - icon: string, img url, url to image to display on card
    - link: string, url, optional, url this card should link too.
 #}
{% macro horizontalCard(headline,blurb,icon,link) %}
    <div class="">
        <div class=""></div>
        <div class=""></div>
        <div class=""></div>
    </div>
{% endmacro %}