{# The standard style for body content included via markdown 

    - content: markdown string
    [tailwind prose docs](https://github.com/tailwindlabs/tailwindcss-typography?tab=readme-ov-file)
 #}
{% macro styledMarkdown(content) %}
<div {{oneline-}} 
    class="prose
        prose-img:max-w-52
    "
{{-endoneline}}>
    {{content | parseMarkdown | safe}}
</div>
{% endmacro %}