---
layout: "layouts/1_base.njk"
---

{# the "Holy grail" layout, # A header and footer, with a center section
between, containing left and right # sidebars and a cetral content section. #}

{% include "components/header.njk" %}
<div class="flex flex-col md:flex-row grow w-full">
  {% if sidebar_left %}
  <aside class="text-center bg-slate-500 flex-none md:w-60">
    {% block sidebar_left %} Left Sidebar {% endblock %}
  </aside>
  {% endif %}
  <main class="text-center grow bg-slate-400">
    {% if content %} {{ content | safe}} {% else %}
    <h1>Default content of 2_hmf</h1>
    {% endif %}
  </main>
  {% if sidebar_right %}
  <aside class="text-center bg-slate-500 flex-none md:w-60">
    {% block sidebar_right %} Right Sidebar {% endblock %}
  </aside>
  {% endif %}
</div>
<footer class="text-center bg-slate-300 w-full">Footer</footer>
