---
layout: "layouts/2_grail.njk"
---
{% from "widgets/text.njk" import styledMarkdown %}
{# Layout of the 'non special' pages that make up the bulk of the site #}

{{ styledMarkdown(content)| safe  }}